---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title = "Resume">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    An experienced solutions engineer, excelling in getting close to the customer, 
    building upon relationships, and influencing by excellence and expertise. Familiar to 
    the different ways companies operate across Europe. Transformation experience with 
    track record of solving intricate problems which may not seem apparent. 
  </div>

 

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="UI Designer and Developer at Integral Access Control System (Thesis)"
      subtitle="From 2015 at XETID, Habana, Cuba"
      desc="System multiplatform that includes the steps of a company's personnel, the structure and composition thereof, as well as a powerful designer of credentials and module of control of access. Outspread at the MINFAR and another entities of the country. Technologies: C++, Qt Framework, Subversión, Visual Paradigm, PostgreSQL, Jmeter"
    />
    <TimeLineElement
      title="Web Developer at Integral Oil Drilling System 2.0"
      subtitle="From 2015 to 2016 at CEDIN, UCI, Habana, Cuba"
      desc="System of steps of process of perforation of oil wells. Outspread in the direction of Intervención of Wells and various wells of drilling of the Occident of the country. Generate reports and graphs of process of perforation making use of data mining. Technologies: Php,Symfony 2.7 , Subversión, PostgreSQL, HigthChart, Ireport, Boostrap 2, JQuery, HTML,CSS, JavaScript"
    />
    <TimeLineElement
      title="Customer Solutions Engineer | Apr 2017 - Sep 2017"
      subtitle="Vodafone Group PLC, Business IoT, Newbury, UK, Graduate Programme"
      desc="- Created the first Smart Cities solution working in an agile development environment bringing new revenue opportunities. \n Developed TMForum API Validator tool in Python which has evolved and is now validating the new standard APIs in Vodafone "
    />
    <TimeLineElement
      title="Service Solution Analyst | Sep 2016 - Mar 2017"
      subtitle="Vodafone Group PLC, Unified Comms, Bracknell, UK, Graduate Programme"
    />
    <TimeLineElement
      title="Innovation Business Analyst | Mar 2015 - Jun 2015"
      subtitle="Ferrovial, Smart Infrastructure Innovation Centre, Madrid, Spain"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="ThePowerMBA FutureLeaders, Master's Degree"
      subtitle="ThePowerMBA, Online | Mar 2020 - Aug 2021"
    />
    <TimeLineElement
      title="Digital Communications and Electronics Engineering, Bachelor's Degree"
      subtitle="University of Hertfordshire, Hertfordshire, UK | Sep 2015 - May 2016"
    />
    <TimeLineElement
      title="Telecommunication Systems Engineering, Bachelor's Degree"
      subtitle="European University of Madrid, Madrid, Spain | Sep 2012 - May 2016"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="https://www.efset.org/cert/DxtNKG" target="_blank"> EF SET English Certificate 74/100 (C2 Proficient)</a>
    </li>
    <li>
      <a href="https://certiprof.com/pages/scrum-foundation-professional-certificate-sfpc-en-sp" target="_blank"> Scrum Foundation Professional Certificate (SFPC)</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Spanish (Native)</li>
    <li>English (C2)</li>
    <li>JavaScript</li>
    <li>C++</li>
    <li>PHP</li>
    <li>Ruby</li>
    <li>Postgres SQL</li>
    <li>MySQL</li>
    <li>CSS</li>
    <li>SASS</li>
    <li>HTML</li>
    <li>Node.js</li>
    <li>Ruby on Rails</li>
    <li>AngularJS</li>
    <li>VUE</li>
    <li>Astro</li>
    <li>Symfony 3</li>
    <li>Yii2</li>
    <li>Bootstrap</li>
    <li>Taildwind</li>
    <li>JQuery</li>
    <li>Wordpress</li>
    <li>Git</li>
    <li>Jira</li>
    <li>Trello</li>
    <li>BaseCamp</li>
    <li>Scrum</li>
    <li>Shape Up</li>
    <li>LeanStartup</li>
    <li>UI Design</li>
    <li>WEB Design</li>
    <li>Logo Design</li>
    <li>Image Manipulation</li>
    <li>Office Suite</li>
    <li>Adobe Photoshop</li>
    <li>KdenLive</li>
  </ul>
</BaseLayout>
