---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title = "Resume">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    An experienced solutions engineer, excelling in getting close to the customer, 
    building upon relationships, and influencing by excellence and expertise. Familiar to 
    the different ways companies operate across Europe. Transformation experience with 
    track record of solving intricate problems which may not seem apparent. 
  </div>

 

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10 space-y-1">
    <TimeLineElement
      title="Senior Solutions Engineer | Sep 2021 - Present"
      subtitle="Snyk Ltd, Remote, UK"
      desc={["Leading customer engagements from across all Europe both in Enterprise and SMB, pre-sales, post-sales and through channel","SME and point of escalation for the team when dealing with complex customers","Leading public documentation activities, internal and external enablement, competitor analysis and creation of new capabilities using the API","Driving a tight collaborative relationship with product, marketing and sales"]}
    />
    <TimeLineElement
      title="DevOps Evangelist | Dec 2020 - Sep 2021"
      subtitle="Vodafone Group PLC, Business Products and Services, London, UK"
      desc={["Managed DevOps Engineering team delivering production CI/CD pipelines, PoCs, testing capabilities and best practices to customers to improve their DevSecOps maturity","Managed the engagement with prospect customers to understand their current pain points and offer a solution adapted to their business objectives and security concerns","Produced and delivered high impact presentations on the value provided by the engineering team"]}
    />
    <TimeLineElement
      title="Digital Enterprise Architect | Jul 2018 - Dec 2020"
      subtitle="Vodafone Group PLC, IT Strategy and Architecture, Newbury, UK"
      desc={["Guided management decision at the CTO and CIO level on a company-wide technology strategy, including adoption of CI/CD tools, agile and software engineering practices for the next 5 years","Defined, created and led the Software Engineering Guild, collaborating with 20 markets to improve the way Vodafone delivers software by introducing coding best practices, DevOps tools and cloud native architectural patterns","Improved the way Vodafone securely develops by joining forces with internal security team and implementing DevSecOps programme to shift security left and reduce operational security costs","Successfully introduced Slack Enterprise Grid into Vodafone"]}
    />
    <TimeLineElement
      title="System Enterprise Architect | Sep 2017 - Jul 2018"
      subtitle="Vodafone Group PLC, IT Strategy and Architecture, Newbury, UK, Graduate Programme"
      desc={["Conceived high availability, multi region, multi-cloud vendor architecture to showcase the use of cloud based and software defined networking for AR solutions across multiple Telco, reducing interoperability cost by 15%","Developed TMForum API Validator tool in Python which has evolved and is now validating the new standard APIs in Vodafone"]}
    />
    <TimeLineElement
      title="Customer Solutions Engineer | Apr 2017 - Sep 2017"
      subtitle="Vodafone Group PLC, Business IoT, Newbury, UK, Graduate Programme"
      desc={["Created the first Smart Cities solution working in an agile development environment bringing new revenue opportunities."]}
      />
    <TimeLineElement
      title="Service Solution Analyst | Sep 2016 - Mar 2017"
      subtitle="Vodafone Group PLC, Unified Comms, Bracknell, UK, Graduate Programme"
      desc={[""]}
    />
    <TimeLineElement
      title="Innovation Business Analyst | Mar 2015 - Jun 2015"
      subtitle="Ferrovial, Smart Infrastructure Innovation Centre, Madrid, Spain"
      desc={[""]}
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="ThePowerMBA FutureLeaders, Master's Degree"
      subtitle="ThePowerMBA, Online | Mar 2020 - Aug 2021"
      desc={[""]}
    />
    <TimeLineElement
      title="Digital Communications and Electronics Engineering, Bachelor's Degree"
      subtitle="University of Hertfordshire, Hertfordshire, UK | Sep 2015 - May 2016 | First Class Honours (1st)"
      desc={[""]}
    />
    <TimeLineElement
      title="Telecommunication Systems Engineering, Bachelor's Degree"
      subtitle="European University of Madrid, Madrid, Spain | Sep 2012 - May 2016 | First Class Honours (1st)"
      desc={[""]}
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>AWS Solution Architect Associate</li>
    <li>Microsoft Azure AZ-900</li>
    <li>TOGAF 9</li>
    <li>Agile Scrum Master</li>
    <li>SAFe Agilist</li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="md:columns-5 columns-2 mx-6 space-y-2">
    
    <ul class="list-disc list-inside">
      <p class="font-bold">Languages</p>
      <li>Spanish (Native)</li>
      <li>English (Native)</li>
    </ul>

    <ul class="list-disc list-inside">
      <p class="font-bold">Programming</p>
      <li>Python</li>
      <li>JavaScript</li>
      <li>Node.js</li>
      <li>bash</li>
      <li>GraphQL</li>
      <li>REST</li>
    </ul>

    <ul class="list-disc list-inside">
      <p class="font-bold">Cloud</p>
      <li>AWS</li>
      <li>GCP</li>
      <li>Azure</li>
    </ul>

    <ul class="list-disc list-inside">
      <p class="font-bold">Tools</p>
      <li>Jenkins</li>
      <li>Kubernetes</li>
      <li>Docker</li>
      <li>Ansible</li>
      <li>Terraform</li>
      <li>SonarQube</li>
      <li>Nexus</li>
      <li>JFrog Artifactory</li>
      <li>Prometheus</li>
      <li>Grafana</li>
      <li>PostgreSQL</li>
      <li>Snyk</li>
      <li>Power BI</li>
    </ul>

    <ul class="list-disc list-inside">
      <p class="font-bold">Methodologies</p>
      <li>Scrum</li>
      <li>Agile</li>
      <li>Lean</li>
      <li>TDD</li>
      <li>SAFe</li>
      <li>DevOps</li>
    </ul>
  </ul>
</BaseLayout>
