---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";

// Get the last 3 posts
const posts = (await getCollection('blog')).sort(     
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const last_posts = posts.slice(0, 3);
---

<BaseLayout>

    <div class="pb-12 mt-5">
      <div class="text-xl py-1">Hey there 👋</div>
      <div class="text-5xl font-bold">I'm Eric Fernandez del Campo</div>
      <div class="flex items-center">
        <p class="text-3xl py-3 font-bold">Senior Solutions Engineer at Snyk </p>
        <img class="max-w-[5rem]" src="/ericfernandezwebsite/snyk.png" alt="snyk"> 
      </div>
           

      <div class="flex items-center">
        <p class="text-lg">An experienced solutions engineer, excelling in getting close to the customer, understanding complex problems and building relationships as a trusted advisor. My goal is to help companies achieve their goal through technical solutions.</p>
      </div>
      <div class="mt-8">
        <a class="btn" href="mailto:eric.fernandez.dc@outlook.com" target="_blank"> Let's connect!</a>
      </div>
    </div>
    
    <div>
      <div class="text-3xl w-full font-bold mb-2">Latest projects {"</>"}</div>
    </div>

    <HorizontalCard
      title="Snyk Tags Tool"
      img="/ericfernandezwebsite/github.png"
      desc="CLI tool designed to manage Snyk tags and attributes at scale"
      url="https://github.com/snyk-labs/snyk-tags-tool"
      badge="NEW"
    />
    <div class="divider my-0"></div>
    <HorizontalCard
      title="Snyk to Slack through Lambda"
      img="/ericfernandezwebsite/lambda.png"
      desc="Use Snyk Webhooks alongside a Lambda function to receive and filter new vulnerabilities discovered by Snyk in your Slack."
      url="https://docs.snyk.io/snyk-api-info/snyk-webhooks/using-snyk-webhooks-to-connect-snyk-to-slack-with-aws-lambda"
    />

    <div>
      <div class="text-3xl w-full font-bold mb-5 mt-10">Latest from the blog</div>
    </div>

    {
      last_posts.map((post) => (
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + post.slug}
          target="_self"
        />
        <div class="divider my-0"></div>
      ))
    }

</BaseLayout>
